@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

p{
    font-size:30px;
}
.btn input:checked+lavel{
    background: #1a720d;
    color: #FFF;
}

.box1{
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #333333;
}